#nav div{
    font-size:2em !important;
    display:inline !important;
}

#nav a{
    font-size:1.5em !important;
    position:relative !important;
    left:70% !important;
}

#nav{
    color:white !important;
    position:fixed !important;
    width:100% !important ;
    height:8% !important;
    background-color:black !important;
    top:0 !important;

}