*{
    margin: 0;
    padding: 0;
}

body{
    width:100%;
}

#main{
    width: 730px;
    height: 454px;
    margin: 100px auto;
    position: relative;
    border:1px solid red;


}
#main .scollimg{
    width: 730px;
    height: 454px;
    position: relative;
}
#main .scollimg img{
    position: absolute;
    top: 0;
    left: 0;
}
#main .btn{
    width: 730px;
    height: 220px;
    position: absolute;
    top:117px;
    left: 0;
}
#main .btn>div{
    width: 100px;
    height: 220px;
    background: #fff;
    opacity: 0;
}
#main .btn：hover>div{
    opacity: 0.35;
}
#main .btn #btnleft{
    position: absolute;
    top: 0;
    left: 0;
}
#main .btn #btnright{
    position: absolute;
    top: 0;
    right:0;
}
/*左右button里的三角形*/
.triangle{
    margin-top: 50px;
    width: 0;
    height: 0;
    border-width:70px 40px;
    border-style: solid;
}

#main .btn #btnleft .triangle{
    border-color: transparent #ccc transparent  transparent;
}
#main .btn #btnright .triangle{
    margin-left: 20px;
    border-color: transparent transparent transparent #ccc;
}
#main .item{
    position: absolute;
    bottom: 30px;
    left: 70px;
    width: 200px;
    height: 16px;
}
#main .item span{
    width: 16px;
    height: 16px;
    background: #ccc;
    display: inline-block;
    border-radius: 50%;
}
#main .item span:hover{
    cursor: pointer;
}

.scollimg img{
    width: 730px;
    height: 454px;
}